<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/styles/styles.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Comments</title>
</head>
<body>
    <div class="main-navigation">

        <div class="navbar">
            <h2>Chefly</h2>
            <button class="sidebar__items">Signup/Log-in</button>
            <a class="home__button" href="/">Home</a>
        </br>
            <a href="">Search</a>
        </div>
    </div>

    <div class="container">
        <div class="row comments__index">
                <section class="col comments__indexPage">
                    <h1>Comments Index</h1>
                    <ul>
                        <% Comments.forEach((Comments, index) => { %>
                            <li>
                              <a href="/comments/showComments/<%= Comments.id %>"<%= Comments.user %></a>
                              <p><%= Comments.name %></p>
                              <p><%= Comments.body %> </p> 
                              <p><%= Comments.timestamps %></p>
                            </li>
                            <% }); %>
                            <a href="/comments/createComments">Add Comment</a>
                            <a class="home__button" href="/"><button>Home</button></a>
                    </ul> 
                </section> 
        </div>
    </div>

   
</body>
</html>